<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>vue测试</title>
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
    <style>
        .class1 {
            color: green;
            background: black;
        }

        .link {
            color: blue;
            text-decoration: none;
            font-size: 20px;
        }
    </style>


</head>

<body>

    <!-- 绑定样式 -->
    <div id ="s1">
        <div v-bind:class="class1:isActive">中国</div>
    </div>


    <!-- if-else模块 -->

    <div id="c1">
        <template v-if="ok">
            <h1>hello</h1>
            <p>this is my first website</p>
        </template>
        <template v-else>
            <h1>byebye</h1>
        </template>
    </div>
    <!-- v-show模块 -->
    <div id="c2">
        <p v-show="condition">你好啊,能看见我了吧</p>
    </div>
    <!-- 遍历所有的元素 -->
    <div id="c3">
        <ol>
            <li v-for="site in sites">
                网站用户: {{site.name}}
            </li>
        </ol>
    </div>
    <!-- 模板中的遍历 -->
    <div id="c4">
        <ul>
            <template v-for="person in sites">
                <li>{{person.name}}</li>
                <li>-----------------</li>
            </template>
        </ul>
    </div>

    <!-- 迭代对象属性 -->
    <div id='c5'>
        <p v-for="(value,key) in person">the person's {{key}} is {{value}}</p>
    </div>

    <!-- 整数迭代计算 -->
    <div id='c6'>
        <p v-for="x in 20">{{x}}</p>
    </div>
    <script>
        new Vue({

            el:"#s1",
            data:{
                isActive:true
            }
        })
        new Vue({
            el: "#c6"
        }
        )
        new Vue({
            el: "#c5",
            data: {
                person: {
                    name: 'jack',
                    age: 22,
                    gender: 'male',
                    hobby: 'football'
                }
            }
        })
        new Vue({
            el: "#c4",
            data: {
                sites: [
                    { name: 'jack' },
                    { name: 'marry' },
                    { name: 'malin' }
                ]
            }
        })
        var data = { "ok": false };
        new Vue({
            el: "#c1",
            data: data
        })

        new Vue({
            el: "#c2",
            data: {
                condition: false
            }
        })

        new Vue({
            el: "#c3",
            data: {
                sites: [
                    { name: 'jack' },
                    { name: 'marry' },
                    { name: 'malin' }
                ],
                name: 'hello'
            }
        })
    </script>
</body>


</html>